.custom-color-picker .react-colorful {
  /* height: 240px; */
  /* width: "100%"; */
}
.custom-color-picker .react-colorful__saturation {
  border-radius: 7px 7px 0 0;
}
.custom-color-picker .react-colorful__hue {
  /* height: 40px; */
  border-radius: 0 0 7px 7px;
}
.custom-color-picker .react-colorful__hue-pointer {
  /* width: 12px;
  height: inherit;
  border-radius: 0; */
}
